@page
@model MarconnetDotFr.Pages.FootyStatsModel
@{
}

<div class="text-center">

    <div class="highlighted-side-project-section">
        <div class="homepage-item">
            <div class="homepage-item-logo">
                <img class="homepage-item-logo-img" src="~/img/fcsm/logo.png" alt="">
            </div>
            <div class="homepage-item-details">
                <div class="homepage-item-title workexp-item-company-info-name">
                    <a asp-page="FCSMStats">FCSM stats</a>
                </div>
                <div class="homepage-item-location"><span>Classement, affluence, ... retour sur le FCSM</span></div>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>

    <div class="highlighted-side-project-section">
        <div class="homepage-item">
            <div class="homepage-item-logo">
                <img class="homepage-item-logo-img" src="~/img/footystats/world-cup.png" alt="">
            </div>
            <div class="homepage-item-details">
                <div class="homepage-item-title workexp-item-company-info-name">
                    <a asp-page="MPPWorldCup2022">MPP World Cup 2022</a>
                </div>
                <div class="homepage-item-location"><span>Should we just bet on the underdog?</span></div>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>

</div>

