<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Benjamin Marconnet's website" />
    <meta name="keywords" content="Marconnet, Benjamin Marconnet" />
    <meta name="author" content="Benjamin Marconnet" />
    <meta name="theme-color" content="#131F31" />

    <title>MarconnetDotFr</title>

    @* Style *@
    <link defer rel="stylesheet" asp-append-version="true" href="~/css/generated/_site.min.css" />
    @RenderSection("Styles", required: false)

    @* Script *@
    <script defer asp-append-version="true" src="~/js/generated/lib/_jQuery.min.js"></script>
    <script defer asp-append-version="true" src="~/js/generated/_site.min.js"></script>
</head>
<body>

    <div class="website-category website-title">
        <a asp-page="Index">Benjamin Marconnet</a>
    </div>

    <div class="website-body">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)

    <div class="footer"></div>
</body>
</html>