<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Benjamin Marconnet's website" />
    <meta name="keywords" content="Marconnet, Benjamin Marconnet" />
    <meta name="author" content="Benjamin Marconnet" />
    <meta name="theme-color" content="#141414" />

    <title>MarconnetDotFr</title>
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="https://kendo.cdn.telerik.com/2021.1.119/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
    <script src="https://kendo.cdn.telerik.com/2021.1.119/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.1.119/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.1.119/js/kendo.aspnetmvc.min.js"></script>
</head>
<body>

    <div class="website-category website-title">
        <a href="@Url.Action("Index")">Benjamin Marconnet</a>
    </div>

    <div class="website-body">
        @RenderBody()
    </div>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>